# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd
# Virtual environments
.venv/
venv/
# IDE / tooling
.idea/
.vscode/
.ruff_cache/
# OS junk
Thumbs.db
.DS_Store
# Build/output artifacts
output/
dist/
build/
# Optional
hide/
# Generated user content
gallery/user/message/
gallery/user/pages/
gallery/user/sounds/archive/
gallery/user/sounds/appssong/
output/
